<% if translator.errors.any? %>
<ul>
  <% translator.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for translator do |f| %>
  譯者：<%= f.text_field :name %><br />
  描述：<%= f.text_area :description %><br />
  <%= f.submit "送出" %>
<% end %>
